asgiref==3.4.1
beautifulsoup4==4.10.0
cloudinary==1.26.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.5
Django==3.2.8
django-allauth==0.45.0
django-bootstrap4==3.0.1
django-crispy-forms==1.13.0
django-shortcuts==1.6
django-tempus-dominus==5.1.2.16
gunicorn==20.1.0
oauthlib==3.1.1
psycopg2==2.9.1
PyJWT==2.3.0
python3-openid==3.2.0
pytz==2021.3
requests-oauthlib==1.3.0
soupsieve==2.2.1
sqlparse==0.4.2
