{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--{% load crispy_forms_tags %}-->



<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/intro-booking.jpg' %}"
                alt="Restaurant" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Table Booking Form</span>


                </h2>
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                        {% if user.is_authenticated %}
                        <!-- Logged in as <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">{{user.username}}</span>


                        </h2>-->

                        <form method="POST" action="{% url 'add_booking' %}" name="form">

                            
                           


                          <div id="div_id_customer_name" class="form-group"> <label for="id_customer_name"
                                    class=" requiredField">
                                    Customer name<span class="asteriskField">*</span> </label>
                                <div class=""> <input type="text" name="customer_name" maxlength="15"
                                        class="textinput textInput form-control" required id="id_customer_name"> </div>
                            </div>
                            <div id="div_id_phone_number" class="form-group"> <label for="id_phone_number"
                                    class=" requiredField">
                                    Phone number<span class="asteriskField">*</span> </label>
                                <div class=""> <input type="tel" name="phone_number" maxlength="15"
                                        class="textinput textInput form-control" required id="id_phone_number"> </div>
                            </div>
                            <div id="div_id_booking_date" class="form-group"> <label
                                    for="id_booking_date" class=" requiredField">
                                    Reservation date and time
                                    <span class="asteriskField">*</span></label>
                                <div class=""> <input type="datetime-local" name="booking_date"
                                        class="datetimeinput form-control" id="id_booking_date" required> </div>
                            </div>
                            <div id="div_id_number_of_guests" class="form-group"> <label for="id_number_of_guests"
                                    class=" requiredField">
                                    Number of customers<span class="asteriskField">*</span> </label>
                                <div class=""> <input type="number" name="number_of_guests"
                                        class="numberinput form-control" required id="id_number_of_guests"> </div>
                            </div>
                        
                          <!-- {{ form | crispy }} -->
                  
                            {% csrf_token %}



                        


                            <div class="intro-button mx-auto"><button class="btn btn-primary btn-xl"
                                    type="submit">Submit Booking</button></div>


                    </div>
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
{% endblock %}