{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/intro-booking.jpg' %}"
                alt="Restaurant" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Table Booking Form</span>
                </h2>
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                    
                        <form method="POST" action="{% url 'add_booking' %}" name="form">

                            {{ form|crispy }}


                            {% csrf_token %}


                            <div class="intro-button mx-auto"><button class="btn btn-primary btn-xl"
                                    type="submit">Submit Booking</button>
                            </div>

                        </form>
                    </div>
                    
                 
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}