<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>505 Error</title>
</head>
<body>
   
    <h2>The booking you are trying to add already exists with the same username, customer name, and reservation date and time.</h2>
    <br>
    <h3>Go back to the <a href="{% url 'add_booking' %}">booking page</a> and submit another booking with different details.</h3>
    
</body>
</html>

