{% extends 'base.html' %}
{% load static %}
{% block content %}



<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex me-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Artisan Irish Breakfast</span>
                        <span class="section-heading-upper">~ 10,00 € ~</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu1.jpg' %}" alt="Irish breakfast" />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Made of dry cured back bacon rashers, our own home-made pork sausages,
                        black and white pudding, grilled fresh tomatos, mushrooms, potatos, avocados, beans and eggs.
                        Served with home-made brown bread and hot toast.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex text-center ms-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Beef Burger Plate with Chips</span>
                        <span class="section-heading-upper">~ 8,00 € ~</span>


                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu2.jpg' %}" alt="Beef burger with chips" />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Our menu features burgers that are hand crafted with 100% Angus beef. Always fresh,
                        never frozen. We use fresh, natural and delicious ingredients. Made to order and served medium,
                        on toasty, classic style buns.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex me-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Chef's Pasta</span>
                        <span class="section-heading-upper">~ 6,00 € ~</span>

                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu8.jpg' %}" alt="Pasta dish" />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">This pasta dish is based on an Italian recipe our chef brought back from Italy.
                        Makes a mouth-watering yet light meal.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex ms-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Roast Chicken</span>
                        <span class="section-heading-upper">~ 9,00 € ~</span>

                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu3.jpg' %}" alt="Roast chicken" />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">This Peruvian-style grilled chicken is a recipe from the awesome Pio Pio restaurant
                        in
                        NYC.
                        Butterflied chicken with a vinegar and spice rub gets slow-cooked on the
                        grill, then quickly cooked directly over the coals to crisp the skin. It comes out tender and
                        juicy,
                        and is served with a simple spicy and creamy sauce made with jalapeños and ají amarillo
                        peppers.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex me-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Vegan Plate</span>
                        <span class="section-heading-upper">~ 10,00 € ~</span>

                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu4.jpg' %}" alt="Vegan plate" />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Our ingredients are fresh and sourced locally.
                        Try our vegan dishes that are made to order and are always served
                        with home-made brown bread.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex ms-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Vegetarian Plate</span>
                        <span class="section-heading-upper">~ 8,00 € ~</span>

                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu5.jpg' %}" alt="Vegetarian plate" />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Our ingredients are fresh and sourced locally.
                        Try our vegetarian dishes that are made to order and are always served
                        with home-made brown bread.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex me-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Handcraft Beers</span>
                        <span class="section-heading-upper">~ 4,00 € per bottle ~</span>


                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu6.jpg' %}" alt="Bottles of beer" />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">The same ethos applies to Beers From Heaven, our partner to supply the freshest
                        Irish craft beers
                        and a hand-picked collection of classics. With a focus on quality produce, service and
                        sustainability,
                        we want to provide our customers with the best possible beer tasting experience. The beers have
                        been
                        selected to match all dishes on our menu.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex ms-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Mediterranean Wines</span>
                        <span class="section-heading-upper">~ 9,00 € per bottle ~</span>

                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu7.jpg' %}" alt="Bottles of wine" />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">The same ethos applies to Wines From Heaven, our partner to supply the best
                        mediterranean wines
                        and a hand-picked collection of classics. With a focus on quality produce, service and
                        sustainability,
                        we want to provide our customers with the best possible wine tasting experience. The wines have
                        been
                        selected to match all dishes on our menu.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex me-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Chocolate and Vanilla Ice Cream</span>
                        <span class="section-heading-upper">~ 4,00 € ~</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu9.jpg' %}" alt="Ice cream" />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">This lovely ice cream goes well with any dish from our menu. Made from the best
                        fresh ingredients.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 text-center d-flex ms-auto rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Redcurrant Cheesecake</span>
                        <span class="section-heading-upper">~ 4,00 € ~</span>

                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="{% static 'assets/img/menu10.jpg' %}" alt="Cheese cake" />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">This lovely cheese cake goes well with any dish from our menu. Made from the best
                        fresh ingredients.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}