{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<table class="table table-hover table-dark">

    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Customer name</th>
            <th scope="col">User by Admin</th>
            <th scope="col">Logged in User</th>
            <th scope="col">Reservation date and time</th>
            <th scope="col">Phone number</th>
            <th scope="col">Number of guests</th>
            <th scope="col">Edit booking</th>
            <th scope="col">Delete booking</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings|dictsort:"customer_name" %}

        <th scope="col"></th>
        <th scope="col">{{ booking.customer_name }}</th>
        <th scope="col">{{ booking.user }}</th>
        <th scope="col">{{ user.username }}</th>
        <th scope="col">{{ booking.reservation_date_and_time }}</th>
        <th scope="col">{{ booking.phone_number }}</th>
        <th scope="col">{{ booking.number_of_customers}}</th>
        <th scope="col">
            <div class="intro-button mx-auto"><a href="/edit/{{ booking.id }}"><button
                        class="btn btn-primary btn-xl">Edit Booking</button></a></div>
        </th>
        <th scope="col">

            <div class="intro-button mx-auto"><a href="/delete/{{ booking.id }}"><button
                        class="btn btn-danger btn-primary btn-xl">Delete Booking</button></a></div>
        </th>
    </tbody>
    {% endfor %}
    {% csrf_token %}
</table>



{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block script %}
{% endblock script %}